@CHARSET "UTF-8";

div.kwizzy_entry_bullet
{
	float: left;
}

div.kwizzy_entry,
div.kwizzy_entry_bullet
{
	margin-top: 0.5em;
	padding: 0.5em;
}
div.kwizzy_entry
{
	margin-left: 1.5em;
}

div.kwizzy_error
{
	background-color: #ff6;
}

div.kwizzy_error_message
{
	margin: 1em;
}

div.kwizzy_answers,
div.kwizzy_radio_list
{
	margin-top: 0.25em;
}

div.kwizzy_explanation
{
	margin-top: 0.5em;
	margin-left: 1em;
	padding: 8px;
	border: thin dotted #888;
	font-weight: normal;
	font-style: italic;
	white-space: pre-wrap;
	word-wrap: break-word;
}

span.kwizzy_answer
{
	font-weight: bold;
}

h1.kwizzy
{
	margin-bottom: 0;
}
